body {
    font-family: Arial, sans-serif;
    margin: 20px;
    background-color: #dfdfdf;
}

h1 {
    margin: 10px;
    padding: 10px;
    text-align: center;
    color: #333;
    background-color: aqua;
    border: #000 1px solid;
    border-radius: 5px;
}

#empTable {
    width: 100%;
    border: #000 1px solid;
}

#empTable tr {
    
    padding: 10px;
    background-color: rgb(231, 224, 210);
    border: 1px solid #000000;
    margin-bottom: 5px;
    transition-duration: 0.4s;
}

#empTable tr:hover {
    background-color: rgb(253, 253, 152);
    font-weight: bold;
}

#empTable tr.highlighted {
    background-color: yellow;
}

#empTable th {
    background-color: rgb(179, 255, 0);
    padding: 10px;
    border: 1px solid #000000;
    margin-bottom: 5px;
}

#empTable td {
    cursor: pointer;
    padding: 10px;
    border: 1px solid #000000;
    margin-bottom: 5px;
}

#employeeDetails {
    margin: 20px;
}

#button_block {
    margin: 10px;
    text-align: right;
}

#refreshBtn {
    margin: 10px;
    padding: 10px;
    border: 1px solid #000;
    border-radius: 5px;
    display: inline-block;
    cursor: pointer;
    background-color: rgb(174, 243, 211);
    transition-duration: 0.4s;
    font-weight: bold;
}

#refreshBtn:hover {
    background-color: rgb(117, 240, 172);
}

#viewEmployeeBtn {
    margin: 10px;
    padding: 10px;
    border: 1px solid #000;
    border-radius: 5px;
    display: inline-block;
    cursor: pointer;
    background-color: rgb(169, 242, 245);
    transition-duration: 0.4s;
    font-weight: bold;
}

#viewEmployeeBtn:hover {
    background-color: rgb(0, 247, 255);
}

#employee {
    margin: 10px;
    padding: 10px;
    background-color: #e7e7e7;
    border: 1px solid #000;
    border-radius: 5px;
}

#employeeDetails {
    margin: 10px;
}

#detailsTable {
    width: 100%;
    padding: 10px;
}

#detailsTable tr {
    padding: 10px;
    background-color: rgb(231, 224, 210);
    margin-bottom: 5px;
    transition-duration: 0.4s;
}

#detailsTable td:hover {
    background-color: rgb(253, 253, 152);
    font-weight: bold;
}

#detailsTable th {
    background-color: rgb(179, 255, 0);
    padding: 10px;
    border: 1px solid #000000;
    margin-bottom: 5px;
}

#detailsTable td {
    padding: 10px;
    margin-bottom: 5px;
    border: #000 1px solid;
}

#closeDetailsBtn {
    margin: 10px;
    padding: 10px;
    border: 1px solid #000;
    border-radius: 5px;
    display: inline-block;
    cursor: pointer;
    font-weight: bold;
    background-color: rgb(227, 193, 236);
    transition-duration: 0.4s;
}

#closeDetailsBtn:hover {
    background-color: rgb(255, 139, 255);
}